.billCard {
  padding: 10px;
  border: 1px solid #0a22391f;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  margin: 15px;
}

.billCardBtn{
  border: 1px solid #3054D6;
    border-radius: 20px;
    padding: 10px;
    color: #3054D6;
    background-color: #3054D60F;
    cursor: pointer;
}
.billCardBtn:disabled {
  border: 1px solid #E7EBEE;
  background-color: #F6F9FB80;
  color: #000000 ;
  opacity: 0.8;
  cursor: none;
}

.amountDiv{
  margin: 30px 0;
  
}
.amountInput{
  font-size: 25px;
  border: none;
}

.mb {
  margin-bottom: 40px;
}

.bid-now-btn {
  display: inline-block;
  width: 95%;
  border-radius: 5px;
  background-color: #3054d6;
  color: white;
  font-size: 16px;
 
}
.MuiFilledInput-input {
  background: white !important;
}

.floatingLabel {
  position: relative;
  margin-bottom: 35px;
}
.floatingInput {
  font-size: 14px;
  padding: 4px 4px;
  display: block;
  height: 30px;
  background-color: transparent;
  border: none;
  border: 1px solid #757575;
  border-radius: 2px;
  width: 100%;
  margin: 5px;
}

.floatingInput:focus {
  outline: none;
  border: 2px solid #5264ae;
}

label {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.floatingInput:focus ~ label,
.floatingInput:not(:placeholder-shown) ~ label {
  top: -18px;
  font-size: 14px;
  color: #5264ae;
}

/* active state */
.floatingInput:focus ~ .bar:before,
.floatingInput:focus ~ .bar:after {
  width: 50%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.highlight {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 15%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.floatingInput:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
.bidBtn {
  width: 30%;
  padding: 10px;
  background-color: #3054d6;
  color: whitesmoke;
  border-radius: 0px;
  border: 0px;
  cursor: pointer;
}
.bidBtn:disabled {
  border: 1px solid #E7EBEE;
  background-color: #F6F9FB80;
  color: #000000 ;
  opacity: 0.8;
  cursor: none;
}

